.grey{
  color: grey;
}

.banner-title{
  font-size: 45px;
  letter-spacing: 2px;
}

.navbar {
  background: white;
  box-shadow: none;
  border: none;
}

.nav.navbar-nav li a {
  background: none;
  box-shadow: none;
}

.nav.navbar-nav li a.active {
  background: none;
  box-shadow: none;
  border-bottom: #ee312f 3px solid;
}
